@model QuanLyNhanSuWEB.DTO.HoSoNhanSuDTO.HopDongLaoDongDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-4 row">
    <h3 class="fw-bold m-0"><i class="fa-solid fa-ribbon"></i> Thông Tin Hợp Đồng Lao Động</h3>
    <hr class="mt-0">
    <div class="col-md-12 p-0" style="border: 2px solid rgb(36, 92, 166);">
        <div class="text-center pt-3 pb-3" style="font-size: 18px; background-color: rgb(36, 92, 166);">
            <label class="fw-bold" style="color: white; margin-right: 10px;">Tóm Lược Nhân Viên</label>
        </div>
        <div class="profile p-4 d-md-flex">
            <div class="employee-image mb-3 mb-md-0 me-md-4" style="width: 200px; height: 250px; border: 1px solid #ccc; border-radius:10px;">
                <img src="~/uploads/@Model.NhanVien.HinhAnh" width="100%" height="100%" alt="Hình nhân viên">
            </div>
            <div class="text-center text-md-start ml-3">
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Họ và tên</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.HoKhaiSinh @Model.NhanVien.TenKhaiSinh</label>
                    </div>
                </div>
                <!-- Các grid-col khác tương tự -->
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Mã Nhân Viên</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.IdNv</label>
                    </div>
                </div>
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Phòng Ban</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.IdPbNavigation.TenPhongBan</label>
                    </div>
                </div>
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Điện Thoại Nhà</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.DienThoaiNha</label>
                    </div>
                </div>
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Điện Thoại Di Động</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.Dtdd</label>
                    </div>
                </div>
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Email</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.Email</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="border: 2px solid rgb(36, 92, 166); border-radius: 0px 0px 15px 15px; margin-top: 15px; padding: 10px;">
        <div class="d-flex justify-content-between align-items-center mt-3 mb-3" style="gap: 10px;">

            <div>
                <a class="btn" href="@Url.Action("Details", "ThongTinNhanVien", new {  IdNV = @Model.NhanVien.IdNv })" style="background-color: rgb(36, 92, 166) !important; font-weight: bold; color: white;"><i class="fa-solid fa-arrow-left"></i> Trở về</a>
            </div>

            <div class="d-flex" style="gap: 10px;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalhopdong">
                    Thêm mới
                </button>

                <button type="button" class="btn btn-success update-hopdong" data-bs-toggle="modal" data-bs-target="#modalcapnhathopdong">
                    Cập Nhật
                </button>

                <button class="delete-button btn btn-danger delete-hopdong">Xoá</button>
            </div>

            
        </div>


        <div class="modal fade" id="modalhopdong" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                     <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Nhập Thông Tin Hợp Đồng Lao Động</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center justify-content-center align-items-center ">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="@Model.HopDong.IdNv" hidden value="@Model.NhanVien.IdNv" class="form-control" />
                                <div class="col-md-6">
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Số HĐLĐ</label>
                                        <input type="text" asp-for="@Model.HopDong.SoHdld" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.SoHdld" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Thời Hạn</label>
                                        <input type="text" asp-for="@Model.HopDong.ThoiHan" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.ThoiHan" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Bậc Lương</label>
                                        <input type="text" asp-for="@Model.HopDong.BacLuong" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.BacLuong" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Ký</label>
                                        <input type="date" asp-for="@Model.HopDong.NgayKy" min="1900-01-01" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.NgayKy" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Thử Việc</label>
                                        <input type="date" asp-for="@Model.HopDong.NgayThuViec" min="1900-01-01" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.NgayThuViec" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Hết Hạn</label>
                                        <input type="date" asp-for="@Model.HopDong.NgayHetHan" min="1900-01-01" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.NgayHetHan" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Loại Hợp Đồng</label>
                                        <input type="text" asp-for="@Model.HopDong.LoaiHopDong" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.LoaiHopDong" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Chức Danh</label>
                                        <input type="text" asp-for="@Model.HopDong.ChucDanh" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.ChucDanh" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Hệ Số Lương</label>
                                        <input type="text" asp-for="@Model.HopDong.HeSoLuong" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.HeSoLuong" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Người Ký</label>
                                        <input type="text" asp-for="@Model.HopDong.NguoiKy" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.NguoiKy" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Chính Thức</label>
                                        <input type="date" asp-for="@Model.HopDong.NgayChinhThuc" min="1900-01-01" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.NgayChinhThuc" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Gia Hạn</label>
                                        <input type="date" asp-for="@Model.HopDong.NgayGiaHan" min="1900-01-01" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.HopDong.NgayGiaHan" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                    <label class="text-end fw-bold" style="width: 20%; padding-right: 40px;">File Quyết Định</label>
                                    <input type="file" name="FileQuyetDinh" asp-for="@Model.HopDong.FileQuyetDinh" style="width: 70%;" class="form-control">
                                    <span asp-validation-for="@Model.HopDong.FileQuyetDinh" class="text-danger"></span>
                                </div>
                                <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                    <label class="text-end fw-bold" style="width: 20%; padding-right: 40px;">File HĐLĐ</label>
                                    <input type="file" name="File" asp-for="@Model.HopDong.FileHdld" style="width: 70%;" class="form-control">
                                    <span asp-validation-for="@Model.HopDong.FileHdld" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                            <input type="submit" class="btn btn-primary" value="Lưu">
                        </div>
                     </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="hopdongtable" class="table table-striped tablehopdong" style="cursor:pointer;">
                <thead>
                    <tr>
                        <th hidden>
                            Id
                        </th>
                        <th>
                            Số HĐLĐ
                        </th>
                        <th>
                            Loại HĐLĐ
                        </th>
                        <th>
                            Thời Hạn
                        </th>
                        <th>
                            Ngày Ký
                        </th>
                        <th>
                            Ngày Thử Việc
                        </th>
                        <th>
                            Ngày Chính Thức
                        </th>
                        <th>
                            Ngày Hết Hạn
                        </th>
                        <th>
                            Người Ký
                        </th>
                        <th>
                            File Quyết Định
                        </th>
                        <th>
                            File HĐLĐ
                        </th>
                        <th hidden>
                            Ngày Gia Hạn
                        </th>
                        <th hidden>
                            Bậc Lương
                        </th>
                        <th hidden>
                            Chức Danh
                        </th>
                        <th hidden>
                            Hệ Số Lương
                        </th>
                        <th hidden>
                            IdNV
                        </th>
                    </tr>
                </thead>
                <tbody class="tbodyhopdong">
                    @foreach (var item in Model.HopDongs)
                    {
                        <tr class="selected-hopdong trhopdong " data-id="@item.Id">
                            <td hidden>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoHdld)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiHopDong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ThoiHan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayKy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayThuViec)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayChinhThuc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayHetHan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NguoiKy)
                            </td>
                            <td>
                                <a class="p-0" href="\uploadfiles\@item.FileQuyetDinh">@Html.DisplayFor(modelItem => item.FileQuyetDinh)</a>
                            </td>
                            <td>
                                <a class="p-0" href="\uploadfiles\@item.FileHdld">@Html.DisplayFor(modelItem => item.FileHdld)</a>
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.NgayGiaHan)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.BacLuong)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.ChucDanh)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.HeSoLuong)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.IdNv)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        

    </div>
</div>

@*Cập nhật hợp đồng*@
<div class="modal fade" id="modalcapnhathopdong" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nhập Thông Tin Hợp Đồng Lao Động</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center justify-content-center align-items-center ">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="@Model.HopDong.Id" name="Id" hidden class="form-control" />
                        <input asp-for="@Model.HopDong.IdNv" name="IdNv" hidden value="@Model.NhanVien.IdNv" class="form-control" />
                        <div class="col-md-6">
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Số HĐLĐ</label>
                                <input type="text" asp-for="@Model.HopDong.SoHdld" name="SoHDLD" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.SoHdld" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Thời Hạn</label>
                                <input type="text" asp-for="@Model.HopDong.ThoiHan" name="ThoiHan" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.ThoiHan" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Bậc Lương</label>
                                <input type="text" asp-for="@Model.HopDong.BacLuong" name="BacLuong" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.BacLuong" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Ký</label>
                                <input type="text" asp-for="@Model.HopDong.NgayKy" name="NgayKy" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.NgayKy" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Thử Việc</label>
                                <input type="text" asp-for="@Model.HopDong.NgayThuViec" name="NgayThuViec" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.NgayThuViec" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Hết Hạn</label>
                                <input type="text" asp-for="@Model.HopDong.NgayHetHan" name="NgayHetHan" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.NgayHetHan" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Loại Hợp Đồng</label>
                                <input type="text" asp-for="@Model.HopDong.LoaiHopDong" name="LoaiHopDong" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.LoaiHopDong" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Chức Danh</label>
                                <input type="text" asp-for="@Model.HopDong.ChucDanh" name="ChucDanh" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.ChucDanh" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Hệ Số Lương</label>
                                <input type="text" asp-for="@Model.HopDong.HeSoLuong" name="HeSoLuong" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.HeSoLuong" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Người Ký</label>
                                <input type="text" asp-for="@Model.HopDong.NguoiKy" name="NguoiKy" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.NguoiKy" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Chính Thức</label>
                                <input type="text" asp-for="@Model.HopDong.NgayChinhThuc" name="NgayChinhThuc" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.NgayChinhThuc" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ngày Gia Hạn</label>
                                <input type="text" asp-for="@Model.HopDong.NgayGiaHan" name="NgayGiaHan" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.HopDong.NgayGiaHan" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                            <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">File Quyết Định</label>
                            <input type="file" name="FileQD" id="FileQuyetDinh" style="width: 70%;" class="form-control">
                            <input type="text" id="NhanFileQuyetDinh" name="FileQuyetDinh" asp-for="@Model.HopDong.FileQuyetDinh" style="width: 70%;" class="form-control">
                            <span asp-validation-for="@Model.HopDong.FileQuyetDinh" class="text-danger"></span>
                        </div>
                        <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                            <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">File HĐLĐ</label>
                            <input type="file" name="File" id="File" style="width: 70%;" class="form-control">
                            <input type="text" id="NhanFileHDLD" name="FileHDLD" asp-for="@Model.HopDong.FileHdld" style="width: 70%;" class="form-control">
                            <span asp-validation-for="@Model.HopDong.FileHdld" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                    <input type="submit" class="btn btn-primary" value="Lưu">
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            // Khởi tạo DataTables
            var table = $('#hopdongtable').DataTable();
        });

        $(document).ready(function () {
            var selectedRowHopDong = null;

            $('.tablehopdong .tbodyhopdong .trhopdong').click(function () {
                // Loại bỏ lựa chọn trước đó (nếu có)
                if (selectedRowHopDong != null) {
                    selectedRowHopDong.removeClass('selected-hopdong');
                }

                // Đánh dấu dòng được chọn và lưu lại dòng đó
                selectedRowHopDong = $(this);
                selectedRowHopDong.addClass('selected-hopdong');
            });

            $('.update-hopdong').click(function () {
                if (selectedRowHopDong != null) {
                    // Lấy thông tin từ dòng được chọn
                    var id = selectedRowHopDong.find('td:eq(0)').text();
                    var sohdld = selectedRowHopDong.find('td:eq(1)').text().trim();
                    var loaihdld = selectedRowHopDong.find('td:eq(2)').text().trim();
                    var thoihan = selectedRowHopDong.find('td:eq(3)').text().trim();
                    var ngayky = selectedRowHopDong.find('td:eq(4)').text().trim();
                    var ngaythuviec = selectedRowHopDong.find('td:eq(5)').text().trim();
                    var ngaychinhthuc = selectedRowHopDong.find('td:eq(6)').text().trim();
                    var ngayhethan = selectedRowHopDong.find('td:eq(7)').text().trim();
                    var nguoiky = selectedRowHopDong.find('td:eq(8)').text().trim();
                    var filequyetdinh = selectedRowHopDong.find('td:eq(9)').text().trim();
                    var filehdld = selectedRowHopDong.find('td:eq(10)').text().trim();
                    var ngaygiahan = selectedRowHopDong.find('td:eq(11)').text().trim();
                    var bacluong = selectedRowHopDong.find('td:eq(12)').text().trim();
                    var chucdanh = selectedRowHopDong.find('td:eq(13)').text().trim();
                    var hesoluong = selectedRowHopDong.find('td:eq(14)').text().trim();
                    var idnv = selectedRowHopDong.find('td:eq(15)').text().trim();


                    // Điền thông tin vào modal
                    $('#modalcapnhathopdong input[name="Id"]').val(id);
                    $('#modalcapnhathopdong input[name="SoHDLD"]').val(sohdld);
                    $('#modalcapnhathopdong input[name="LoaiHopDong"]').val(loaihdld);
                    $('#modalcapnhathopdong input[name="ThoiHan"]').val(thoihan);
                    $('#modalcapnhathopdong input[name="NgayKy"]').val(ngayky);
                    $('#modalcapnhathopdong input[name="NgayThuViec"]').val(ngaythuviec);
                    $('#modalcapnhathopdong input[name="NgayChinhThuc"]').val(ngaychinhthuc);
                    $('#modalcapnhathopdong input[name="NgayHetHan"]').val(ngayhethan);
                    $('#modalcapnhathopdong input[name="NguoiKy"]').val(nguoiky);
                    $('#modalcapnhathopdong input[name="FileQuyetDinh"]').val(filequyetdinh);
                    $('#modalcapnhathopdong input[name="FileHDLD"]').val(filehdld);
                    $('#modalcapnhathopdong input[name="NgayGiaHan"]').val(ngaygiahan);
                    $('#modalcapnhathopdong input[name="BacLuong"]').val(bacluong);
                    $('#modalcapnhathopdong input[name="ChucDanh"]').val(chucdanh);
                    $('#modalcapnhathopdong input[name="HeSoLuong"]').val(hesoluong);
                    $('#modalcapnhathopdong input[name="IdNv"]').val(idnv);

                    // Hiển thị modal
                    $('#modalcapnhathopdong').modal('show');
                } else {
                    alert("Vui lòng chọn dòng để chỉnh sửa.");
                }
            });
        });

        $(document).ready(function () {
            var selectedRowHopDong = null;
            var id = null;

            $('.tablehopdong .tbodyhopdong .trhopdong').click(function () {
                if (selectedRowHopDong != null) {
                    selectedRowHopDong.removeClass('selected-hopdong');
                }
                id = $(this).data("id");
                $(this).addClass('selected-hopdong');
                selectedRowHopDong = $(this);
            });

            $(".delete-hopdong").click(function () {
                var confirmation = confirm("Bạn có chắc chắn muốn xóa thông tin này?");
                if (selectedRowHopDong != null) {
                    if (confirmation) {
                        // Nếu người dùng xác nhận xóa, hãy chuyển hướng đến hàm DeleteConfirmed của controller
                        window.location.href = "/HopDongLaoDong/DeleteHopDong?Id=" + id; // Thay ControllerName bằng tên của controller bạn đang sử dụng
                    }
                } else {
                    alert("Vui lòng chọn dòng để chỉnh sửa.");
                }
            });
        });





        var inputSource = document.getElementById("File");
        var inputDestination = document.getElementById("NhanFileHDLD");
        

        inputSource.addEventListener("input", function () {
            // Khi giá trị thay đổi, sao chép giá trị từ thẻ input nguồn sang thẻ input đích
            NhanFileHDLD.value = File.value;
            
        });

        var inputSourceQuyetDinh = document.getElementById("FileQuyetDinh");
        var inputDestinationQuyetDinh = document.getElementById("NhanFileQuyetDinh");

        inputSourceQuyetDinh.addEventListener("input", function () {
            // Khi giá trị thay đổi, sao chép giá trị từ thẻ input nguồn sang thẻ input đích
            NhanFileQuyetDinh.value = FileQuyetDinh.value;
            //inputDestinationQuyetDinh.value = inputSourceQuyetDinh.value;
        });

    </script>
}