@model QuanLyNhanSuWEB.DTO.HoSoNhanSuDTO.KhenThuongKyLuatDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-4 row">
    <h3 for="" class="fw-bold m-0"><i class="fa-solid fa-ribbon"></i> Khen Thưởng</h3>
    <hr class="mt-0">
    <div class="col-md-12 p-0" style="border: 2px solid rgb(36, 92, 166);">
        <div class="text-center pt-3 pb-3" style="font-size: 18px; background-color: rgb(36, 92, 166);">
            <label class="fw-bold" style="color: white; margin-right: 10px;">Tóm Lược Nhân Viên</label>
        </div>
        <div class="profile p-4 d-md-flex">
            <div class="employee-image mb-3 mb-md-0 me-md-4" style="width: 200px; height: 250px; border: 1px solid #ccc; border-radius:10px;">
                <img src="~/uploads/@Model.NhanVien.HinhAnh" width="100%" height="100%" alt="Hình nhân viên">
            </div>
            <div class="text-center text-md-start ml-3">
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Họ và tên</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.HoKhaiSinh @Model.NhanVien.TenKhaiSinh</label>
                    </div>
                </div>
                <!-- Các grid-col khác tương tự -->
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Mã Nhân Viên</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.IdNv</label>
                    </div>
                </div>
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Phòng Ban</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.IdPbNavigation.TenPhongBan</label>
                    </div>
                </div>
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Điện Thoại Nhà</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.DienThoaiNha</label>
                    </div>
                </div>
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Điện Thoại Di Động</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.Dtdd</label>
                    </div>
                </div>
                <div class="grid-col d-flex mb-2">
                    <div class="str me-3">
                        <strong>Email</strong>
                    </div>
                    <div class="lab">
                        <label> @Model.NhanVien.Email</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="border: 2px solid rgb(36, 92, 166); border-radius: 0px 0px 15px 15px; margin-top: 15px; padding: 10px;">
        <div class="d-flex justify-content-between align-items-center mt-3 mb-3" style="gap: 10px;">

            <div>
                <a class="btn" href="@Url.Action("Details", "ThongTinNhanVien", new {  IdNV = @Model.NhanVien.IdNv })" style="background-color: rgb(36, 92, 166) !important; font-weight: bold; color: white;"><i class="fa-solid fa-arrow-left"></i> Trở về</a>
            </div>

            <div class="d-flex" style="gap: 10px;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalkhenthuong">
                    Thêm mới
                </button>

                <button type="button" class="btn btn-success update-khenthuong" data-bs-toggle="modal" data-bs-target="#modalcapnhatkhenthuong">
                    Cập Nhật
                </button>

                <button class="delete-button btn btn-danger delete-khenthuong">Xoá</button>
            </div>

            
        </div>

        <div class="modal fade" id="modalkhenthuong" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Khen Thưởng</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center justify-content-center align-items-center ">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="@Model.KhenThuongKyLuat.IdNv" hidden value="@Model.NhanVien.IdNv" class="form-control" />
                                <input asp-for="@Model.KhenThuongKyLuat.Loai" hidden value="false" class="form-control" />
                                <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                    <label class="text-end fw-bold" style=" padding-right: 40px;">Nhân Viên</label>
                                    <strong style="color: rgb(36, 92, 166);">@Model.NhanVien.HoKhaiSinh @Model.NhanVien.TenKhaiSinh</strong>
                                </div>
                                <hr />

                                <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                    <label class="text-end fw-bold" style="width: 20%; padding-right: 40px;">Hình Thức</label>
                                    <input type="text" asp-for="@Model.KhenThuongKyLuat.HinhThuc" style="width: 70%;" class="form-control">
                                    <span asp-validation-for="@Model.KhenThuongKyLuat.HinhThuc" class="text-danger"></span>
                                </div>

                                <div class="col-md-6">
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Từ Ngày</label>
                                        <input type="date" asp-for="@Model.KhenThuongKyLuat.TuNgay" min="1900-01-01" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.KhenThuongKyLuat.TuNgay" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Lý Do</label>
                                        <input type="text" asp-for="@Model.KhenThuongKyLuat.LyDo" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.KhenThuongKyLuat.LyDo" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Cấp Quyết Định</label>
                                        <input type="text" asp-for="@Model.KhenThuongKyLuat.CapQuyetDinh" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.KhenThuongKyLuat.CapQuyetDinh" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Người Ký</label>
                                        <input type="text" asp-for="@Model.KhenThuongKyLuat.NguoiKy" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.KhenThuongKyLuat.NguoiKy" class="text-danger"></span>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Đến Ngày</label>
                                        <input type="date" asp-for="@Model.KhenThuongKyLuat.DenNgay" min="1900-01-01" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.KhenThuongKyLuat.DenNgay" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Số Quyết Định</label>
                                        <input type="text" asp-for="@Model.KhenThuongKyLuat.SoQuyetDinh" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.KhenThuongKyLuat.SoQuyetDinh" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ghi Chú</label>
                                        <input type="text" asp-for="@Model.KhenThuongKyLuat.GhiChu" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.KhenThuongKyLuat.GhiChu" class="text-danger"></span>
                                    </div>
                                    <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                        <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Đính Kèm</label>
                                        <input type="file" name="File" asp-for="@Model.KhenThuongKyLuat.DinhKem" style="width: 70%;" class="form-control">
                                        <span asp-validation-for="@Model.KhenThuongKyLuat.DinhKem" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                            <input type="submit" class="btn btn-primary" value="Lưu">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table id="khenthuongtable" class="table table-striped tablekhenthuong" style="cursor:pointer;">
                <thead>
                    <tr>
                        <th hidden>
                            Mã Đào Tạo
                        </th>
                        <th>
                            Nhân Viên
                        </th>
                        <th>
                            Hình Thức
                        </th>
                        <th>
                            Cấp Quyết Định
                        </th>
                        <th>
                            Số Quyết Định
                        </th>
                        <th>
                            Người Ký
                        </th>
                        <th>
                            Ngày Hiệu Lực
                        </th>
                        <th>
                            File
                        </th>
                        <th>Tương Tác File </th>
                        <th hidden>
                            Đến Ngày
                        </th>
                        <th hidden>
                            Lý Do
                        </th>
                        <th hidden>
                            Ghi Chú
                        </th>

                        <th hidden>
                            IdNV
                        </th>
                    </tr>
                </thead>
                <tbody class="tbodykhenthuong">
                    @foreach (var item in Model.KhenThuongKyLuats)
                    {
                        <tr class="selected-khenthuong trkhenthuong " data-id="@item.Id">
                            <td hidden>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>
                                @Model.NhanVien.HoKhaiSinh @Model.NhanVien.TenKhaiSinh
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HinhThuc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CapQuyetDinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoQuyetDinh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NguoiKy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TuNgay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DinhKem)
                            </td>
                            <td>
                                <a class="p-0" href="\uploadfiles\@item.DinhKem">Xem</a> | <a class="p-0" href="@Url.Action("DownloadFile", "KhenThuong", new { fileName = item.DinhKem })">Tải về tệp tin</a>
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.DenNgay)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.LyDo)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.GhiChu)
                            </td>

                            <td hidden>
                                @Html.DisplayFor(modelItem => item.IdNv)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
       
    </div>
</div>


@*Cập nhật Khen Thưởng*@
<div class="modal fade" id="modalcapnhatkhenthuong" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Khen Thưởng</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center justify-content-center align-items-center ">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="@Model.KhenThuongKyLuat.IdNv" name="IdNv" hidden value="@Model.NhanVien.IdNv" class="form-control" />
                        <input asp-for="@Model.KhenThuongKyLuat.Loai" hidden value="false" class="form-control" />
                        <input asp-for="@Model.KhenThuongKyLuat.Id" hidden name="Id" class="form-control" />
                        <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                            <label class="text-end fw-bold" style=" padding-right: 40px;">Nhân Viên</label>
                            <strong style="color: rgb(36, 92, 166);">@Model.NhanVien.HoKhaiSinh @Model.NhanVien.TenKhaiSinh</strong>
                        </div>
                        <hr />

                        <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                            <label class="text-end fw-bold" style="width: 20%; padding-right: 40px;">Hình Thức</label>
                            <input type="text" asp-for="@Model.KhenThuongKyLuat.HinhThuc" name="HinhThuc" style="width: 70%;" class="form-control">
                            <span asp-validation-for="@Model.KhenThuongKyLuat.HinhThuc" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Từ Ngày</label>
                                <input type="text" asp-for="@Model.KhenThuongKyLuat.TuNgay" name="TuNgay" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.KhenThuongKyLuat.TuNgay" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Lý Do</label>
                                <input type="text" asp-for="@Model.KhenThuongKyLuat.LyDo" name="LyDo" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.KhenThuongKyLuat.LyDo" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Cấp Quyết Định</label>
                                <input type="text" asp-for="@Model.KhenThuongKyLuat.CapQuyetDinh" name="CapQuyetDinh" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.KhenThuongKyLuat.CapQuyetDinh" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Người Ký</label>
                                <input type="text" asp-for="@Model.KhenThuongKyLuat.NguoiKy" name="NguoiKy" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.KhenThuongKyLuat.NguoiKy" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Đến Ngày</label>
                                <input type="text" asp-for="@Model.KhenThuongKyLuat.DenNgay" name="DenNgay" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.KhenThuongKyLuat.DenNgay" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Số Quyết Định</label>
                                <input type="text" asp-for="@Model.KhenThuongKyLuat.SoQuyetDinh" name="SoQuyetDinh" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.KhenThuongKyLuat.SoQuyetDinh" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Ghi Chú</label>
                                <input type="text" asp-for="@Model.KhenThuongKyLuat.GhiChu" name="GhiChu" style="width: 70%;" class="form-control">
                                <span asp-validation-for="@Model.KhenThuongKyLuat.GhiChu" class="text-danger"></span>
                            </div>
                            <div class="details d-flex" style="padding: 5px; width: 100%; align-items: center;">
                                <label class="text-end fw-bold" style="width: 30%; padding-right: 40px;">Đính Kèm</label>
                                <input type="file" name="File" id="File" style="width: 70%;" class="form-control">
                                <input asp-for="@Model.KhenThuongKyLuat.DinhKem" hidden name="DinhKem" id="NhanFile" type="text"  />
                                <span asp-validation-for="@Model.KhenThuongKyLuat.DinhKem" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                    <input type="submit" class="btn btn-primary" value="Lưu">
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            // Khởi tạo DataTables
            var table = $('#khenthuongtable').DataTable();
        });

        $(document).ready(function () {
            var selectedRowKhenThuong = null;

            $('.tablekhenthuong .tbodykhenthuong .trkhenthuong').click(function () {
                // Loại bỏ lựa chọn trước đó (nếu có)
                if (selectedRowKhenThuong != null) {
                    selectedRowKhenThuong.removeClass('selected-khenthuong');
                }

                // Đánh dấu dòng được chọn và lưu lại dòng đó
                selectedRowKhenThuong = $(this);
                selectedRowKhenThuong.addClass('selected-khenthuong');
            });

            $('.update-khenthuong').click(function () {
                if (selectedRowKhenThuong != null) {
                    // Lấy thông tin từ dòng được chọn
                    var id = selectedRowKhenThuong.find('td:eq(0)').text();
                    var hinhthuc = selectedRowKhenThuong.find('td:eq(2)').text().trim();
                    var capquyetdinh = selectedRowKhenThuong.find('td:eq(3)').text().trim();
                    var soquyetdinh = selectedRowKhenThuong.find('td:eq(4)').text().trim();
                    var nguoiky = selectedRowKhenThuong.find('td:eq(5)').text().trim();
                    var ngayhieuluc = selectedRowKhenThuong.find('td:eq(6)').text().trim();
                    var dinhkem = selectedRowKhenThuong.find('td:eq(7)').text().trim();
                    var denngay = selectedRowKhenThuong.find('td:eq(9)').text().trim();
                    var lydo = selectedRowKhenThuong.find('td:eq(10)').text().trim();
                    var ghichu = selectedRowKhenThuong.find('td:eq(11)').text().trim();


                    // Điền thông tin vào modal
                    $('#modalcapnhatkhenthuong input[name="Id"]').val(id);
                    $('#modalcapnhatkhenthuong input[name="HinhThuc"]').val(hinhthuc);
                    $('#modalcapnhatkhenthuong input[name="CapQuyetDinh"]').val(capquyetdinh);
                    $('#modalcapnhatkhenthuong input[name="SoQuyetDinh"]').val(soquyetdinh);
                    $('#modalcapnhatkhenthuong input[name="NguoiKy"]').val(nguoiky);
                    $('#modalcapnhatkhenthuong input[name="TuNgay"]').val(ngayhieuluc);
                    $('#modalcapnhatkhenthuong input[name="DinhKem"]').val(dinhkem);
                    $('#modalcapnhatkhenthuong input[name="DenNgay"]').val(denngay);
                    $('#modalcapnhatkhenthuong input[name="LyDo"]').val(lydo);
                    $('#modalcapnhatkhenthuong input[name="GhiChu"]').val(ghichu);

                    // Hiển thị modal
                    $('#modalcapnhatkhenthuong').modal('show');
                }else{
                    alert("Vui lòng chọn dòng để chỉnh sửa.");
                }
            });
        });

        $(document).ready(function () {
            var selectedRowKhenThuong = null;
            var id = null;

            $('.tablekhenthuong .tbodykhenthuong .trkhenthuong').click(function () {
                if (selectedRowKhenThuong != null) {
                    selectedRowKhenThuong.removeClass('selected-khenthuong');
                }
                id = $(this).data("id");
                $(this).addClass('selected-khenthuong');
                selectedRowKhenThuong = $(this);
            });

            $(".delete-khenthuong").click(function () {
                var confirmation = confirm("Bạn có chắc chắn muốn xóa thông tin này?");
                if (selectedRowKhenThuong != null) {
                    if (confirmation) {
                        // Nếu người dùng xác nhận xóa, hãy chuyển hướng đến hàm DeleteConfirmed của controller
                        window.location.href = "/KhenThuong/DeleteKhenThuong?Id=" + id; // Thay ControllerName bằng tên của controller bạn đang sử dụng
                    }
                } else {
                    alert("Vui lòng chọn dòng để chỉnh sửa.");
                }
            });
         });




        var inputSource = document.getElementById("File");
        var inputDestination = document.getElementById("NhanFile");

        inputSource.addEventListener("input", function () {
            // Khi giá trị thay đổi, sao chép giá trị từ thẻ input nguồn sang thẻ input đích
            NhanFile.value = File.value;
        });

    </script>

}